*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  background: none;
}

html {
  color-scheme: light;
}

.wrapper {
  padding-left: $wrapper;
  padding-right: $wrapper;
}

.no-scroll,
.no-scroll body {
  overflow: hidden;
}

button {
  cursor: pointer;
}

body {
  height: auto;
}
