.hamburger-menu {
  width: 17px;
  height: auto;
  position: absolute;
  top: 30px;
  left: 15px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 300;
  transition: all 0.5s;
  visibility: hidden;

  .line {
    width: 100%;
    height: 1.5px;
    border-radius: 50px;
    background-color: $black;
    margin: 2px 0;
    transform-origin: left;
    transition: all 0.2s;
    position: relative;
  }

  .line-1 {
    top: 0;
  }

  .line-2 {
    opacity: 1;
  }

  .line-3 {
    bottom: 0;
  }

  &.change {
    .line-1 {
      top: -5%;
      transform: rotate(45deg);
    }

    .line-2 {
      opacity: 0;
    }

    .line-3 {
      transform: rotate(-45deg);
    }
  }

  @media screen and (max-width: map-get($breakpoints, "md")) {
    visibility: visible;
  }
}
